<%= form_with(model: feed, local: true, url: choose_new_or_edit) do |form| %>
  <% if feed.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(feed.errors.count, "error") %> prohibited this feed from being saved:</h2>
      <ul>
      <% feed.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="feed-group">
    <div class="form-group">
      <%= form.label :content %>
      <%= form.text_area :content, class: 'form-control input-lg', placeholder: '1文字以上255文字以内で入力してください' %>
    </div>
    <div class="form-group feed">
      <%= image_tag(@feed.image.url) if @feed.image && @feed.image.url %>
      <%= form.label :image %>
      <%= form.file_field :image %>
    </div>
    <div class="form-group feed">
      <%= form.submit %>
    </div>
    <div class="form-group feed">
      <%= link_to 'Back', feeds_path, class: "btn btn-default" %>
    </div>
  </div>
<% end %>
